.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
   background: rgba(255, 255, 255, 0.1); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  font-size: 17px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 5px 0 10px 0;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}